/* You can add global styles to this file, and also import other style files */

.cursor {
    cursor: pointer;
}

.input-dropdown {
    font-size: 18px;
    position: relative;
    top: -27px;
    left: 420px;
}

textarea {
    resize: none;
}